.App {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    flex-grow: 1;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.textInput {
    min-width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
}

.error {
    border-color: red;
}

.errorMessage {
    color: red;
}