.App {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    flex-grow: 1;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.resultWrapper {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    background: #eeeeee;
}

.objectColumn {
    display: flex;
    flex-grow: 1;
    background: #cccccc;
}

.diffColumn {
    display: flex;
    flex-grow: 1;
    background: #dddddd;
}